
.recipe-target {
  position: absolute;
  left: 2.17%;
  top: 53.07%;
  width: 18.67%;
  height: 42.26%;
  z-index: 2;
}

.recipe_text {
  color: #2B2D2F;
}

.search-form {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  box-shadow: 0px 5px 20px rgb(87, 84, 84);
}

.search-button {
  background: #2B2D2F;
  border: none;
  padding: 10px 20px;
  color: white;
}



